.category
{
    display: grid;
    grid-template-columns: 20% 20% 20% 20%;
    height: auto;
    width: 100%;
    column-gap: 25px;
    justify-content: center;
    align-items: center;
    justify-items: center;
    text-align: center;
    margin-top: 15px;
    font-family: 'Ubuntu', sans-serif;
    margin-top: 10px;
    margin-bottom: 20px;
    padding: 20px;
}
.type1 button
{
    height: 240px;
    width: 240px;
    border: none;
    background-color: transparent;
}
.type1 img
{
    height: 240px;
    width: 240px;
    border-radius: 100%;
}
.category h3
{
    margin-top: 10px;
    font-size: 30px;
    font-weight: 400;
}
@media (max-width: 768px){
    .category{
        display: flex;
        flex-direction: column;
    }
    .type1{
        margin: 14px 0;
    }
}