.Features
{
    background-color: #407BFF;
}
.feature
{
    display: grid;
    grid-template-columns: 33% 33% 33%;
    justify-content: center;
    justify-items: center;
    align-items: center;
    column-gap: 10px;
    background-color: #407BFF;
    padding: 20px;
}
.fhead 
{
    text-align: center;
    font-family: "Ubuntu",sans-serif;
    font-size:25px;
    font-weight: 700;
    margin: 0px;
    background-color: #407BFF;
}
.fhead h1
{
    font-size: 50px;
    color:#ffffff ;
    margin-bottom: 28px;
}
.feature img
{
    height: 150px;
    width: 100%;
}